@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tog-ved-stasjon {
    animation: spin infinite 20s linear paused;
  }
  .tog-ved-stasjon:hover {
    animation-play-state: running;
  }
}
